.left{
float:left !important;
}
.right{
float:right !important;
}
.alignLeft{
text-align:left !important;
}
.alignCenter{
text-align:center !important;
}
.alignRight{
text-align:right !important;
}
.relative{
position:relative;
}
.absolute{
position:absolute;
}
.top_2{
position:relative;
top:2px;
*top:1px;
}
.bottom_6{
position:relative;
bottom:6px;
*bottom:4px;
}
.border_no{
border:none 0 !important;
}




.display_none{
display:none;
}
.display_block{
display:block;
}

.underline{
text-decoration:underline;
}

/*text color*/
.Blue_1{
color:#0099FF;
}
.Blue_2{
color:#5F8EAD !important;
}
.Red_1{
color:#FA2A00;
}
.Grey{
color:#888 !important;
}
.Gray{
color:#8f8f8f !important;
}
.Red_2{
color:#FF3300;
}
.Red_3{
color:#FF0000;
}
.Red{
color:#ff0000 !important;
}
.Green{
color:#009933 !important;
}
.black{
color:#444 !important;
}
.change{
color:#3399FF !important;
font-size:12px !important;
text-decoration:underline;
}
.add{
color:#3399FF !important;
}


/*font*/
.font_14{
font-size:14px;
}
.bold{
font-weight:bold;
}
.noborder{
border:none 0 !important;
}

.search_pager{
padding:15px 5px 5px 0;
}
.search_pager a{
color:#6633FF !important;
}
.search_pager a:hover{
text-decoration:underline;
}
.search_pager a.ontab{
font-weight:bold;
text-decoration:underline;
font-size:13px;
}

.date{
font-size:12px;
color:#888;
position:relative;
bottom:-5px;
right:0;
text-align:right;
float:right;
}

.select_1,.select_2{
width:80px;
height:18px;
line-height:18px;
font-size:12px;
}
.select_2{
width:50px;
}

.serachPhoto {
	/*width:112px;*/
	height:24px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	text-align:center;
}
.uploadFile {
	position:absolute;
	z-index:100;
	margin-left:-180px;
	font-size:30px;
	opacity:0;
	filter:alpha(opacity=0);
	margin-top:-5px;
	cursor:pointer;
	color:#333333 !important;
}

.serachPhoto input {
	cursor:pointer;
	width:112px;
	border:none;
	height:28px;
	padding:0px;
	margin:0px;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	left:-12px !important;
	left:-5px;
	left/**/:-3px;
}
.com_btn_b{
background-image:url(../images/btn.png);
background-position:0 0;
background-repeat:no-repeat;
height:24px;
padding-left:1px;
display:inline-block;
color:#fff !important;
font-size:12px;
text-decoration:none !important;
font-family:\5b8b\4f53;
}

.com_btn_b span{
display:block;
height:16px;
line-height:18px !important;
vertical-align:middle;
padding:4px 10px;
background-image:url(../images/btn.png);
background-position:right -24px;
background-repeat:no-repeat;
}

.com_btn_b_disable{
	background-image:url(../images/btn.png);
	background-position:0px -580px;
	background-repeat:no-repeat;
	height:24px;
	padding-left:1px;
	display:inline-block;
	color:#fff !important;
	font-size:12px;
	text-decoration:none !important;
	font-family:\5b8b\4f53;
}

.com_btn_b_disable span{
	display:block;
	height:16px;
	line-height:18px !important;
	vertical-align:middle;
	padding:4px 10px;
	background-image:url(../images/btn.png);
	background-position:right -580px;
	background-repeat:no-repeat;
}


.com_btn_b span{
	color:#fff !important;
}
.com_btn_red span{
	background-position:right -749px;
	height:18px;
}
.com_btn_b:hover{
background-position:0 -48px;
}
.com_btn_b:hover span{
background-position:right -72px;
}
/*·­Ò³--com_pages*/
.com_pages{
padding:20px 0 10px;
text-align:center;
}
.com_pages a{
border:solid #E7ECF0 1px;
background-color:#fff;
padding:3px 10px;
/*font-family:\5b8b\4f53;*/
line-height:12px;
font-size:12px;
}
.com_pages a.opening{
border:0;
padding:3px 11px;
font-weight:bold;
background:none;
color:#333;
}

/*--½ø¶ÈÌõ--*/
dl.rate_bar{
text-align:left;
position:relative;
top:2px;
}
dl.rate_bar dt,dl.rate_bar dd{
float:left;
}
dl.rate_bar dd{
width:210px;
}
dl.rate_bar .rate_border{
border:solid #aaa 1px;
background-color:#f5f5f5;
width:200px;
height:12px;
}
dl.rate_bar .rate_color{
width:200px;
height:12px;
background-color:#66CCFF;
}