<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	default-lazy-init="true">
	
	<!-- 向快递100同步订单的快递状态定时器  每天0:10分执行-->
	<task:scheduler id="orderKuaidiTaskScheduler" pool-size="1"/>
	<task:scheduled-tasks scheduler="orderKuaidiTaskScheduler">
	    <task:scheduled ref="orderKuaidiTaskService" method="orderKuaidiState" cron="0 58 16 * * ?"/>
	</task:scheduled-tasks>
	<!-- 向快递100同步订单的快递状态定时器 END-->
	<!-- 向快递100同步订单的快递状态业务接口 -->
	<bean id="orderKuaidiTaskService" class="com.zs.service.scheduler.impl.OrderKuaidiTaskServiceImpl">
	</bean>
	<!-- 向快递100同步订单的快递状态业务接口END -->
</beans>